body {
  background-image: url("/v2/bigscreen/site_files/bigscreenaction-bg.png");
  background-position: center top;
}

.vid_thumb_grid_banner_join {
  width: 345px;
  height: 155px;
  background: url("/v2/bigscreen/site_files/banner-join-sm.jpg");
  display: inline-block;
  float: left;
  overflow: hidden;
}

.vid_thumb_grid_banner_credits {
  width: 345px;
  height: 155px;
  background: url("/v2/bigscreen/site_files/banner-credits-sm.jpg");
  display: inline-block;
  float: left;
  overflow: hidden;
}

#comment_ticker_outer_container {
  background-image: url("/v2/bigscreen/site_files/comment-ticker-bg.gif");
  width: 68%;
  margin-bottom: 10px;
  height: 27px;
  overflow: hidden;
  padding-right: 10px;
}

@media only screen and (max-width: 993px) {
  #comment_ticker_outer_container {
    width: 100% !important;
  }
}

/*
 **********************
 *Homepage Popup
 **********************
 */

#desktopModal {
  display: none;
}

#tabletModal {
  display: none;
}

#mobileModal {
  display: none;
}

.modalDesk {
  /*    background-image: url("http://localhost:50791/ddymes/v2/ddyme/site_files/popup_desktop.png");
*/
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background-color: white;
  border: 1px solid black;
  z-index: 1;
}

.modalTab {
  /*    background-image: url("http://localhost:50791/ddymes/v2/ddyme/site_files/popup_mob.png");
*/
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  /* background-position: center center; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background-color: white;
  border: 1px solid rgb(150, 145, 145);
  z-index: 1;
}

.modalMob {
  /*    background-image: url("http://localhost:50791/ddymes/v2/ddyme/site_files/popup_mob.png");
*/
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  /* background-position: center center; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 93%;
  height: 80%;
  background-color: white;
  box-shadow: 1px 1px 9px 10px #878383;
  border: 1px solid thistle;
  z-index: 1;
}

/* Modal Content/Box */
.modal-content {
  height: 100%;
  width: 100%; /* Could be more or less, depending on screen size */
}

.modal-content:hover {
  cursor: pointer;
}

/* The Close Button For Desktop*/
.close {
  padding: 5px 10px;
  color: #000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* The Close Button For tablet*/

.closeTablet {
  padding: 5px 10px;
  color: thistle;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeTablet:hover,
.closeTablet:focus {
  color: thistle;
  text-decoration: none;
  cursor: pointer;
}

/* The Close Button For Mobile*/

.closeMobile {
  padding: 5px 10px;
  color: #fff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeMobile:hover,
.closeMobile:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

/* imported video scroller */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
}

.video-list {
  border-radius: 5px;
}

.video-list::-webkit-scrollbar {
  width: 7px;
}

.video-list::-webkit-scrollbar-track {
  background: #ccc;
  border-radius: 50px;
}

.video-list::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 50px;
}

.video-list .vid video {
  width: 100%;
  border-radius: 5px;
}

.video-list .vid {
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  padding-top: 0px !important;
  margin-top: 0px !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

/* .video-list .vid:hover {
  background: #eee;
}

.video-list .vid.active {
  background: #2980b9;
} */

.video-list .vid.active .title {
  color: #fff;
}

.video-list .vid .title {
  color: #333;
  font-size: 17px;
}

.vid {
  position: relative;
}

.video-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  padding: 5px;
  visibility: hidden;
}

.vid:hover .video-title {
  visibility: visible;
}

.recommended-video-section-lg {
  width: 17% !important;
  float: right;
  padding-top: 10px;
}

@media only screen and (min-width: 768px) {
  .recommended-video-section-lg {
    display: block !important;
  }
  .recommended-video-section-md-sm {
    display: none !important;
  }
}

@media only screen and (max-width: 767px) {
  .recommended-video-section-lg {
    display: none !important;
  }

  .recommended-video-section-md-sm {
    width: 20% !important;
    float: right;
    padding-top: 10px;
  }

  .video-list {
    border-radius: 5px;
  }

  .video-list .vid {
    margin: 0px !important;
  }
}

@media only screen and (max-width: 740px) {
  .video-list {
    border-radius: 5px;
  }
  .video-list .vid {
    margin: 0px !important;
  }
}

@media only screen and (max-width: 630px) {
  .recommended-video-section-md-sm {
    width: 25% !important;
    float: right;
    padding-top: 10px;
  }

  .video-list {
    border-radius: 5px;
  }

  .video-list .vid {
    margin: 0px !important;
  }
}

@media only screen and (max-width: 530px) {
  .recommended-video-section-md-sm {
    width: 25% !important;
    float: right;
    padding-top: 10px;
  }

  .video-list {
    border-radius: 5px;
  }

  .video-list .vid {
    margin: 0px !important;
  }
}

@media only screen and (max-width: 400px) {
  .recommended-video-section-md-sm {
    width: 30% !important;
    float: right;
    padding-top: 10px;
  }

  .video-list {
    border-radius: 5px;
  }

  .video-list .vid {
    margin: 0px !important;
  }
}
