/*************************************************************************************************************
deadlydymes.com CSS

http://www.deadlydymes.com/

AUTHOR: Number 1 & 2 in the world yo....SIMOZ Studios => www.simozstudios.com

/************************************************************************************
/* Main Styles 
*************************************************************************************/
@import url(//fonts.googleapis.com/css?family=Ubuntu);

body {
  margin: 0px;
  padding: 0px;
  font-size: 11pt;
  font-weight: 300;
}

h1,
h2,
h3 {
  margin: 0px 0px 0px 0px;
  padding: 20px 0px 0px 0px;
  font-weight: 700;
  -webkit-margin-before: -0.4em;
}

h1 {
  font-size: 5em;
  line-height: 24px;
}

h2 {
  line-height: 0px;
  font-size: 22px;
}

h3 {
  line-height: 0px;
}

.large_headline {
  line-height: 38px;
  font-size: 25px;
  font-weight: bold;
}

.headline {
  line-height: 22px;
  font-size: 20px;
  font-weight: bold;
}
.headline a:link {
  color: #f0f0f0;
  text-decoration: none;
}
.headline a:visited {
  color: #f0f0f0;
  text-decoration: none;
}
.headline a:hover {
  color: #f0f0f0;
  text-decoration: none;
}
.headline a:active {
  color: #f0f0f0;
  text-decoration: none;
}

.byline {
  color: #c0c0c0;
  border-top: 10px;
}
.byline a:link {
  color: #c0c0c0;
  text-decoration: none;
}
.byline a:visited {
  color: #c0c0c0;
  text-decoration: none;
}
.byline a:hover {
  color: #c0c0c0;
  text-decoration: none;
}
.byline a:active {
  color: #c0c0c0;
  text-decoration: none;
}

/*Start of Divy Css*/
#home_body_content_right_col {
  background-color: black;
  padding-top: 10px;
  padding-left: 10px;
}

div#home_splash_video.box1 {
  margin: 0px 20px 10px 0px;
}

.cont14 {
  width: 100% !important;
}
.img14 {
  width: 98.8% !important;
}
@media screen and (min-width: 1280px) {
  #home_body_content_left_col {
    width: 15% !important;
  }
}
@media screen and (min-width: 1024px) {
  #home_body_content_right_col {
    width: 68% !important;
  }

  div#home_splash_video.box1 {
    margin: 0px 10px 10px 0px !important;
  }

  .img14 {
    width: 98.8% !important;
  }
  .carousel_homepage_splash_img_wide {
    width: 100% !important;
  }
}
#main_outer_container {
  padding-top: 0px !important;
}

@media screen and (max-width: 740px) {
  .cont14 {
    width: 85% !important;
  }
}

@media screen and (max-width: 630px) {
  .cont14 {
    width: 80% !important;
  }
}

@media screen and (max-width: 400px) {
  .cont14 {
    width: 78% !important;
  }
}

.home_splash_slide {
  width: 100% !important;
  //height: auto !important;
}
#carousel_homepage_splash {
  width: auto !important;
}
.caroufredsel_wrapper {
  width: 100% !important;
}
#carousel-wrapper-home {
  width: 100% !important;
}
#outter_carousel_wrapper_home {
  width: 100% !important;
  max-width: none !important;
}

div#home_video_thumb_grid_container {
  /* width: 100%; */
  /* position: relative; */
  /* display: block; */
  padding-right: 30px;
}

.home_splash_video_overlay {
  width: 100% !important;
}
.carousel_homepage_splash_img_wide {
  width: 100% !important;
  //height: 535px;
}

@media screen and (max-width: 740px) {
  div#home_video_thumb_grid_container {
    padding-right: 50px;
  }
  .vid_thumb_grid_box,
  .vid_thumb_grid_banner,
  #home_video_thumb_grid_container {
    width: auto;
  }
  .cont14 {
    padding: 15px 15px 20px 15px !important;
  }
}
@media screen and (max-width: 768px) {
  #view-section-wrapper-custom #refresher {
    margin-right: 20px !important;
  }
}
@media only screen and (min-width: 740px) and (max-width: 993px) {
  div#home_video_thumb_grid_container {
    padding-right: 50px;
  }
  .carousel_homepage_splash_img_wide {
    width: 100% !important;
    //height: auto !important;
  }
}
@media only screen and (min-width: 1950px) {
  #home_splash_video {
    display: none;
  }
}
#footer_container {
  width: 100%;
}
#header {
  width: 68%;
}

.img0,
.img1,
.img2,
.img3,
.img4,
.img14 {
  border-radius: 15px !important;
}
.img0 a img,
.img1 a img,
.img2 a img,
.img3 a img,
.img4 a img,
.img14 a img {
  margin-bottom: -4px !important;
}
.home_splash_video_overlay {
  padding: 5px 0px 0px 12px !important;
}
.cont14 {
  position: relative !important;
  display: inline-block !important;
}
.img14 {
  position: relative !important;
}

.img14::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  pointer-events: none;
  border-radius: 25px;
}
/* .txt14 {
    position: relative !important;
    padding: 0 1.75% !important;
    padding-top: 4px !important;
} */
.txt14 .vid_title h2 {
  position: absolute !important;
  bottom: 30px !important;
  left: 0 !important;
  right: 0 !important;
  color: white !important;
  pointer-events: none !important;
  z-index: 1 !important;
}
.txt14 .style1 h3 {
  position: relative !important;
  color: white !important;
  pointer-events: none !important;
  margin-top: 10px !important;
}
@media screen and (min-width: 1024px) {
  .txt14 .vid_title h2 {
    bottom: 45px !important;
  }
}

/*End of Divy Css*/

.cont0,
.cont1,
.cont2,
.cont3,
.cont4,
.cont5,
.cont6,
.cont7,
.cont8,
.cont9,
.cont10,
.cont11,
.cont12,
.cont13,
.cont14 {
  _background-color: rgba(30, 90, 95, 0.05);
  background: #202020;
  -moz-box-shadow: inset 0 0 5px #fff;
  -webkit-box-shadow: inset 0 0 5px #fff;
  box-shadow: inset 0 0 5px #fff;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding: 10px;
}

.img0,
.img1,
.img2,
.img3,
.img4,
.img0 a img,
.img1 a img,
.img2 a img,
.img3 a img,
.img4 a img {
  max-width: 500px;
}

.cont0 {
  min-height: 145px;
  margin: 0px 0px 10px 0px;
  padding: 20px 15px 0px 15px;
  width: 670px;
  overflow: auto;
}

.cont1 {
  min-height: 145px;
  margin: 0px 0px 10px 0px;
  padding: 20px 15px 20px 15px;
  width: 925px;
  overflow: hidden;
  float: none;
}

.txt1 {
  padding: 80px 0px 0px 0px;
  text-align: center;
  vertical-align: middle;
}

.txt2 {
  padding: 80px 0px 0px 0px;
}

.img1 {
  border: 1px solid #fff;
  float: left;
  margin: 0px 10px 0px 0px;
}

.cont2 {
  width: 925px;
  min-height: 145px;
  overflow: hidden;
  margin: 10px 10px 10px 0px;
  padding: 20px 15px 20px 15px;
}

.img2 {
  border: 1px solid #fff;
  float: right;
  margin: 0px 0 0px 10px;
}

.cont3 {
  min-height: 160px;
  margin: 0px 10px 10px 0px;
  padding: 10px 15px 10px 15px;
  width: 315px;
  display: inline-block;
  float: left;
}

@-moz-document url-prefix() {
  .cont3 {
    min-height: 160px;
    margin: 0px 10px 10px 0px;
    padding: 10px 15px 0px;
    width: 315px;
    display: inline-block;
    float: left;
  }
}

.img3 {
  border: 1px solid #fff;
  float: left;
  margin: 0px 10px 10px 0px;
}

.cont4 {
  min-height: 160px;
  margin: 0px 5px 10px 0px;
  padding: 10px 15px 10px 15px;
  width: 315px;
  float: left;
  display: inline-block;
}

.img4 {
  border: 1px solid #fff;
  float: right;
  margin: 0px 0 10px 10px;
}

.cont5 {
  min-height: 330px;
  margin: 0px 10px 10px 0px;
  padding: 10px 15px 0px 15px;
  width: 315px;
  display: inline-block;
}

.img5 {
  border: 1px solid #fff;
  float: left;
  margin: 0px 10px 10px 0px;
}

.cont6 {
  min-height: 330px;
  margin: 0px 10px 10px 0px;
  padding: 10px 15px 0px 15px;
  width: 315px;
  display: inline-block;
}

.img6 {
  border: 1px solid #fff;
  float: right;
  margin: 0px 0 10px 10px;
}

.cont7 {
  min-height: 330px;
  margin: 0px 10px 10px 0px;
  padding: 10px 15px 0px 15px;
  width: 315px;
  display: inline-block;
  position: relative;
}

.img7 {
  border: 1px solid #fff;
  float: left;
  margin: 0px 10px 10px 0px;
  position: absolute;
  bottom: 0;
}

.cont8 {
  min-height: 330px;
  margin: 0px 10px 10px 0px;
  padding: 10px 15px 0px 15px;
  width: 315px;
  display: inline-block;
  position: relative;
}

.img8 {
  border: 1px solid #fff;
  float: right;
  margin: 0px 15px 10px 10px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.cont9 {
  margin: 0px 10px 10px 0px;
  padding: 10px 15px 0px 15px;
  width: 670px;
  display: inline-block;
  position: relative;
  text-align: center;
  vertical-align: middle;
}

.cont9 p {
  text-align: center;
  line-height: 0px;
  margin-bottom: 0px;
}

.cont9 .headline {
  margin: 0px;
  font-size: 16px;
  font-weight: normal;
}

.img9 {
  border: 1px solid #fff;
  float: right;
  margin: 0px 15px 10px 10px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.img10 {
  width: 900px;
  border: 3px groove #666;
  text-align: center;
}

.cont11 {
  min-height: 145px;
  margin: 0px 10px 10px 0px;
  padding: 20px 15px 0px 15px;
  width: 315px;
  overflow: auto;
  float: left;
  text-align: center;
}

.img11 {
  border: 1px solid #fff;
  float: right;
  margin: 0px 10px 10px 5px;
}

.cont12 .vid_title,
.cont0 .vid_title,
.cont1 .vid_title,
.cont2 .vid_title,
.cont3 .vid_title,
.cont4 .vid_title,
.cont5 .vid_title,
.cont6 .vid_title,
.cont7 .vid_title,
.cont8 .vid_title,
.cont9 .vid_title,
.cont10 .vid_title,
.cont11 .vid_title,
.cont14 {
  font-size: 25px;
  margin: 0;
  font-family: Ubuntu, Arial Narrow, Arial, Tahoma, Helvetica, sans-serif;
  padding: 0;
  text-align: center;
}

.cont12 {
  min-height: 145px;
  margin: 0px 10px 10px 0px;
  padding: 20px 15px 0px 15px;
  width: 315px;
  overflow: auto;
  float: left;
  text-align: center;
}

.img12 {
  border: 1px solid #fff;
  float: right;
  margin: 0px 10px 10px 5px;
}

.cont12 .vid_title {
  font-size: 30px;
  margin: 0;
  font-family: Ubuntu, Arial Narrow, Arial, Tahoma, Helvetica, sans-serif;
  padding: 0;
  text-align: center;
}

.cont14 {
  min-height: 145px;
  margin: 0px 0px 10px 0px;
  padding: 20px 10px 20px 10px;
  width: 937px;
  overflow: hidden;
  float: none;
}

.img14 {
  border: 1px solid #fff;
  float: left;
  width: 925px;
  margin: 0px 10px 10px 5px;
}

.cont14 p {
  text-align: center;
  line-height: 0px;
  margin-bottom: 0px;
}

.cont14 .txt14 {
  vertical-align: bottom;
  margin: -10px !important;
}

.cont14 .headline {
  margin: 0px;
  font-size: 16px;
  font-weight: normal;
}

.cont14 .vid_title {
  font-size: 20px;
  margin: 0;
  font-family: Ubuntu, Arial Narrow, Arial, Tahoma, Helvetica, sans-serif;
  padding: 0;
  text-align: center;
  visibility: visible;
}

ol,
ul {
  margin-top: 0;
  margin-left: 20px;
}

ol,
ul {
  padding: 0;
  list-style-type: square;
}

ul.actions {
  text-align: center;
}

ul.actions li {
}

#sub_body_content_right_col {
  text-align: left;
  width: 700px;
  float: right;
  padding: 0 7px 0 0;
}

#vid_lg_overlay_link {
  float: left;
  margin: 15px 0px 0px 20px;
}

.home_splash_video_overlay {
  width: 950px;
  height: 69px;
  padding: 0px 0px 0px 12px;
  margin-right: 0px;
  font-size: 14px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #000;
  z-index: 0;
  overflow: hidden;
}

#vid_lg_overlay_wide {
  height: 40px;
  background-color: #000000;
  float: right;
  width: 200px;
  opacity: 0.6;
  margin-top: -40px;
  z-index: 30;
  font-size: 20px;
  text-align: right;
}

#vid_lg_overlay_wide p {
  font-family: Ubuntu, Arial Narrow, Arial, Tahoma, Helvetica, sans-serif;
  font-weight: bold;
  padding-right: 15px;
  margin-top: 10px;
}

.home_splash_video_overlay_desc {
  line-height: 0px;
}

.cont13 {
  min-height: 160px;
  margin: 0px 10px 10px 0px;
  padding: 10px 15px 0px 15px;
  width: 137px;
  display: inline-block;
  float: left;
}

.img13 {
  border: 1px solid #fff;
  float: left;
  margin: 0px 1px 10px 1px;
}

.img13 img {
  max-width: 100%;
}

@-moz-document url-prefix() {
  .cont13 {
    min-height: 160px;
    margin: 0px 10px 10px 0px;
    padding: 10px 15px 0px;
    width: 137px;
    display: inline-block;
    float: left;
  }

  .img13 {
    max-width: 98%;
  }
}

.port_title {
  font-size: 24px;
  margin: 0 auto;
  font-family: Ubuntu, Arial Narrow, Arial, Tahoma, Helvetica, sans-serif;
  padding: 0 auto;
  text-align: center;
}

.port_title a {
  font-size: 24px;
  text-align: center;
}

@media only screen and (max-width: 980px) {
  .cont13 {
    min-height: 160px;
    margin: 0px 5px 10px 5px;
    padding: 10px 15px 0px 15px;
    width: 137px;
    display: inline-block;
    float: left;
  }

  .cont0,
  .cont1,
  .cont2,
  .cont3,
  .cont4,
  .cont5,
  .cont6,
  .cont7,
  .cont8,
  .cont9,
  .cont10,
  .cont11,
  .cont12 {
    padding: 10px 5% 0 5%;
    width: 90% !important;
    text-align: center;
    float: none;
  }

  .txt1,
  .txt2 {
    padding: 0px 10px 0px 0px;
  }
}

@media only screen and (max-width: 710px) {
  .cont13 {
    padding: 10px 10px 0 10px;
    margin: 0px 5px 10px 5px;
    width: 43.5%;
  }
}

@media (min-width: 711px) and (max-width: 740px) {
  .cont13 {
    width: 19.15%;
  }
}

@media (min-width: 641px) and (max-width: 710px) {
  .cont13 {
    width: 20%;
  }
}

@media (min-width: 601px) and (max-width: 640px) {
  .cont13 {
    width: 19.75%;
  }
}

@media only screen and (max-width: 600px) {
  .cont13 {
    padding: 10px 5% 0 5%;
    width: 90% !important;
    margin: 0px 10px 10px 0px;
    text-align: center;
    float: none;
  }

  .img13 {
    margin-right: 0px;
    text-align: center;
    float: none;
    border-width: 0px;
  }
}

.cont14:nth-child(1) {
  padding-bottom: 40px;
}
.cont14:nth-child(1) .txt14 {
  position: absolute !important;
  bottom: 20px;
  left: 0;
  right: 0;
}

.cont14:nth-child(1) .txt14 h3 {
  pointer-events: unset !important;
}

@media (max-width: 740px) {
  .cont14:nth-child(1) .txt14 h3 {
    top: 14px !important;
  }
  .cont14:nth-child(1) .txt14 {
    bottom: 30px !important;
    max-width: 310px;
    margin: 0 auto !important;
  }
  .cont14:nth-child(1) {
    padding-bottom: 46px !important;
  }
}
